.calculatorBigBox {
    color:aqua;
}

.calcForm
{
    width: 400px;
    height: 400px;
    border: sienna 3px solid;
    box-shadow: black 2px;
    border-radius: 50px;
}

.calcInputBox
{
    display: flex;
}